body{
    margin: auto;
    background-color: rgb(154, 223, 223);
    padding: 40px;
}
.content{
    width: 800px;
    height: 80vh;
    background-color: beige;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
}

.title{
    background-color: rgb(255, 224, 196);
    
    padding: 10px;
    border-radius: 10px;
    
}

ul{
    background-color: lightskyblue;
    margin: 10px;
    list-style-type: none;
    border-radius: 5px;
}
li{
    padding: 10px;
    
}

a{
    text-decoration: none;
    color: black
}
